*.class
*.zip
*.rar
*.7z

**/__pycache__/
*.pyc
*.vscode
*.zip
*.rar
*.7z
/DS/Ejercicio1/nbproject/private/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash

**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/nbactions.xml
**/nb-configuration.xml

*.class

*.jar
*.war
*.ear

# --- Flutter & Dart ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# --- Android ---
.gradle/
local.properties
**/android/**/generated/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# --- iOS/macOS ---
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
DerivedData/
xcuserdata/
Podquarters/
.LSOverride
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# --- Editores (VS Code e IntelliJ) ---
.idea/
*.iml
*.iws
*.ipr
.vscode/
.history/

# --- Varios ---
.DS_Store
*.log
doc/api/
